<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signos Vitales</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- mostrar los signos vitales del paciente -->
    <h1>Signos Vitales</h1>
    <p>ID del paciente: {{ signos_vitales.id_paciente }}</p>
    <p>Ultima toma: {{ signos_vitales[0].signos_vitales }}</p>
    <form action="/patients/{{ signos_vitales[0].id_paciente }}/signos_vitales/new" method="POST">
      <div class="w-1/3 p-3">
        <div class="flex flex-col">
          <label for="signos_vitales">Signos Vitales</label>
          <input
            type="text"
            name="signo_vital"
            id="signo_vital"
            class="border border-gray-400 p-2 rounded"
          />
        </div>
        <div class="flex flex-col">
          <label for="fecha_toma">Fecha de Toma</label>
          <input
            type="date"
            name="fecha_toma"
            id="fecha_toma"
            class="border border-gray-400 p-2 rounded"
          />
        </div>
        <button type="submit" class="bg-blue-500 text-white p-2 rounded">
          Agregar
        </button>
      </div>
    </form>
    <!-- listado de signos vitales del paciente -->
    <h1>Historial de Signos Vitales</h1>
    <table class="table-auto">
      <thead>
        <tr>
          <th class="px-4 py-2">Signos Vitales</th>
          <th class="px-4 py-2">Fecha de Toma</th>
        </tr>
      </thead>
      <tbody>
        {% for signo_vital in signos_vitales %}
        <tr>
          <td class="border px-4 py-2">{{ signo_vital.signos_vitales }}</td>
          <td class="border px-4 py-2">{{ signo_vital.fecha_toma }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </body>
</html>
